@font-face {
  font-family: 'Lexend Deca';
  font-weight: 400;
  src: url('./assets/fonts/LexendDeca-Regular.ttf');
}

@font-face {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  src: url('./assets/fonts/BigShouldersDisplay-Bold.ttf');
}

:root {
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  background-color: var(--very-light-grey);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }